<a href="https://colab.research.google.com/github/Lepati/Bootcamp-Data-Science/blob/main/conversion_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Assigning a string "10" to variable mystery_1
mystery_1 = "10"
#Assigning a floating-point number 10.6 to the variable mystery_2
mystery_2 = 10.2
#Assigning a string "ten" to the variable mystery_3
mystery_3 = "ten"
#Assigning the Boolean value True to the variable mystery_4
mystery_4 = True
# Use the print() and type() function to check the data type

In [15]:
# Using str() to convert an Integer to string
num_int = 10
print(num_int)
num_str = str(num_int)
print(num_str)

10
10

In [11]:
# Using int()to convert a Float to an Integer
num_float = 99.99
num_int = int(num_float)
print(num_float)
print(num_int)

99.99
99

In [12]:
num1 = 99.23
num2 = 23
num3 = 150
string1 = "100"

In [13]:
num1_int = 99.23
num2_float = 23
num3_str = str(150)
string1_int = int("100")

In [14]:
print(num1_int)
print(num2_float)
print(num3_str)
print(string1_int)

99.23
23
150
100